.auth-container {
    letter-spacing: 1px;
    display: flex;
    margin: 5% auto;
    justify-content: space-between;
    align-items: center;
    width: 43%;

    input {
       margin-left: 5px;
        padding: .5rem;
        border-radius: 5px;
    }

    button {
        margin-left: 5px;
        padding: 1rem;
        border-radius: 50%;
        border: 4px solid black;
        background-color: rgb(85, 179, 255);
        color: white;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            color: yellow;
            border-color: yellow;
        }
    }
}